/* Define color palette */
:root {
    --primary-color: #9ab973; /* Green */
    --secondary-color: #ead2ac; /* Light Brown */
    --accent-color: #3a976f; /* Dark Green */
    --background-color: #e3eaee; /* Light Background */
    --text-color: #21421e; /* Dark Text */
    --font-family: 'Quicksand', sans-serif;
}

/* Apply background and font */
body {
    background: linear-gradient(to bottom, var(--background-color), #f5f5dc);
    font-family: var(--font-family);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Style header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: var(--primary-color);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo img {
    height: 50px;
    width: auto;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    font-family: var(--font-family);
    color: var(--accent-color);
}

/* Style main container */
main {
    max-width: 800px;
    margin: 20px auto 0 auto; /* Add margin-top for distance from header */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style headings */
h1, h2 {
    color: var(--primary-color);
}

/* Style form elements */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text_label {
    font-weight: bold;
    color: var(--text-color);
}

.text_fill {
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: white;
    font-size: 1em;
    cursor: pointer;
}

button[type="reset"] {
    background: var(--secondary-color);
}

button:hover {
    opacity: 0.9;
}

/* Style results section */
.results {
    margin-top: 20px;
    padding: 20px;
    background: var(--accent-color);
    color: white;
    border-radius: 10px;
}

.results h2 {
    margin-top: 0;
}

/* Style results table */
#results-table {
    color:var(--text-color);
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#results-table th, #results-table td {
    border: 1px solid var(--primary-color);
    padding: 10px;
    text-align: left;
}

#results-table th {
    background: var(--primary-color);
    color: white;
    font-weight: bold;
}

#results-table tr:nth-child(even) {
    background: var(--background-color);
}

#results-table tr:hover {
    background: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
}

/* Style hyperlinks */
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--text-color);
}